.contact {
  display: flex;
  justify-content: center;
  padding: 80px 30px 50px 30px;
  @media screen and (max-width: $mobile) {
    flex-direction: column;
    align-items: center;
  }

  h2 {
    @mixin section-headers;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
  }

  .contact-section {
    width: 475px;
    box-sizing: border-box;
  }

  .follow {
    padding-right: 50px;
    border-right: 1px solid #979797;
    @media screen and (max-width: $mobile) {
      border-right: none;
      padding: 0;
      padding-bottom: 50px;
    }
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style-type: none;
        padding-bottom: 18px;
        text-align: left;
        padding-left: 85px;
        img {
          margin-right: 21px;
        }
        a {
          font-family: $headerFont;
          font-size: 20px;
          color: $mainBlue;
          text-decoration: none;
          white-space: nowrap;
        }
        &:last-of-type {
          padding-bottom: 0;
        }
      }
    }
  }

  .sponsors {
    padding-left: 50px;
    @media screen and (max-width: $mobile) {
      padding: 0;
    }
    .sponsor-logos {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    img {
      max-width: 200px;
      margin-top: 32px;
    }
  }
}

.footer {
  height: 108px;
  padding: 0 10% 5px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $darkBlue;
  font-family: $headerFont;
  font-size: 16px;
  font-weight: bold;
  color: $textWhite;

  .logo {
    width: 126px;
  }
}