$mainBlue: #399aca;
$darkBlue: #21536c;
$meetupBlue: #3082ab;
$red: #cc2e44;
$redLight: #d14256;
$greyLight: #f7f7f7;

$textWhite: #ffffff;
$textDark: #444444;

$headerFont: Montserrat, sans-serif;
$mainFont: Roboto, sans-serif;


@define-mixin section-headers {
  font-family: $headerFont;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1.6px;
  color: $textDark;
  text-align: center;
  text-transform: uppercase;
}

