/* colors */
$mainBlue: #399aca;
$darkBlue: #21536c;
$meetupBlue: #3082ab;
$red: #cc2e44;
$redLight: #d14256;
$greyLight: #f7f7f7;

$textWhite: #ffffff;
$textDark: #444444;

/* status colors */
$maintaining: #2cc285;
$planning: #fe8e39;
$testing: #7141cc;
$prototyping: $mainBlue;

/* fonts */
$headerFont: Montserrat, sans-serif;
$mainFont: Roboto, sans-serif;


@define-mixin section-headers {
  font-family: $headerFont;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1.6px;
  color: $textDark;
  text-align: center;
  text-transform: uppercase;
}

@define-mixin link-button {
  font-family: $headerFont;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: $textWhite;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 20px;
  background-color: $mainBlue;
  border: none;
  border-radius: 0;
  cursor: pointer;
}
